#title{
    text-align: center;
    font-size: 50px;
}

#x{
    font-size: 50px;
}

#o{
    font-size: 50px;
}

#grid{
    margin: 100px 450px 100px;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    grid-template-areas:
    '1 2 3'
    '4 5 6'
    '7 8 9'
     ;
}

#box1 {
  /* width: 200px;
  height: 200px; */
  border-right: solid 6px black;
  border-bottom: solid 6px black;
  grid-area: '1';
}
#box2 {
  /* width: 200px;
  height: 200px; */
  border-right: solid 6px black;
  border-bottom: solid 6px black;
  grid-area: '2';
}
#box3 {
  /* width: 200px;
  height: 200px; */

  border-bottom: solid 6px black;
  grid-area: '3';
}
#box4 {
  /* width: 200px;
  height: 200px; */
  border-right: solid 6px black;
  border-bottom: solid 6px black;
  grid-area: '4';
}
#box5 {
  /* width: 200px;
  height: 200px; */
  border-right: solid 6px black;
  border-bottom: solid 6px black;
  grid-area: '5';
}
#box6 {
  /* width: 200px;
  height: 200px; */
  border-bottom: solid 6px black;
  grid-area: '6';
}
#box7 {
  /* width: 200px;
  height: 200px; */
  border-right: solid 6px black;
  grid-area: '7';
}
#box8 {
  /* width: 200px;
  height: 200px; */
  border-right: solid 6px black;
  grid-area: '8';
}
#box9 {
  /* width: 200px;
  height: 200px; */
  grid-area: '9';
}
